<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SawBarcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--    <add name="MES" connectionString="Data Source=MESTEST_APMUXST1;Persist Security Info=True;User ID=pss_prod;Password=CHANGE_ME;Unicode=True" providerName="System.Data.OracleClient"/>
 -->
    <add name="MES" connectionString="Data Source=PSSMESP;Persist Security Info=True;User ID=pss_prod;Password=CHANGE_ME;Unicode=True" providerName="System.Data.OracleClient" />
    <!--<add name="RECIPE" connectionString="Data Source=MYGSERMYS1NB540;Initial Catalog=awacs;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=CHANGE_ME;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RECIPE" connectionString="Data Source=MYSER01MS105\SQLEXPRESS;Initial Catalog=awacs;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=CHANGE_ME;" providerName="System.Data.SqlClient" />-->
    <add name="RECIPE" connectionString="Data Source=MYSER01MS029;Initial Catalog=awacs;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=CHANGE_ME;" providerName="System.Data.SqlClient"/>
    <!-- 
    <add name="RECIPE" connectionString="Data Source=awacs;Persist Security Info=True;User ID=***;Password=CHANGE_ME;Unicode=True" providerName="System.Data.OracleClient" />
        -->
  </connectionStrings>
  <appSettings>
    <add key="DefaultPrinterName" value="ZDesigner GX430t" />
    <add key="traceLogEnabled" value="true" />
    <add key="traceLogName" value="Awacs Mes Service" />
    <add key="traceLogMachine" value="." />
    <add key="traceLogWriteToFile" value="false" />
    <add key="traceLogLevel" value="Information" />
    <add key="dataProviderService" value="http://xxx/Minsc.WebService.DataProvider/Service.asmx" />
    <add key="dataProviderTimeout" value="10" />
    <add key="EnaDisATBK" value="false" />
	<add key="ZebraIPAddress" value="172.16.240.21"/>
	<add key="ZebraDefaultPort" value="9100"/>
	<add key="SourSWMPath" value="c:\awacs\site\swm\{0}.xml"/>
	<add key="DestSWMPath" value="\\myser01ms056\swm\{0}{1}.xml"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages />
    <httpHandlers>
      <!--   <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" /> -->
    </httpHandlers>
    <httpRuntime executionTimeout="600" />
  </system.web>
  <system.codedom />
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- 
      <add name="WebClientPrint" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
     -->
    </handlers>
    <defaultDocument>
      <files>
        <add value="Saw.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SawBarcode.Properties.Settings>
      <setting name="SawBarcode_camstarProd_Ad_HocTxn" serializeAs="String">
        <value>http://myser01vww01/Minsc.WebService.AI/Ad-HocTxn.asmx</value>
      </setting>
    </SawBarcode.Properties.Settings>
  </applicationSettings>
</configuration>